<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="containerLogin">

            <img ngSrc="Logo.png" width="130" height="100"><br>

            <a>Acesse o site de Rodrigo Santos</a> <br>
            <a>Login</a><br>

            <mat-form-field class="example-form-field" >
                <input matInput type="text" id="email"  [(ngModel)]="valueLogin">
                @if (valueLogin) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="valueLogin=''">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field> <br>


            <a>Senha</a><br>
            <mat-form-field class="example-form-field">
                <input matInput type="text" id="password"  [(ngModel)]="valueSenha">
                @if (valueSenha) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="valueSenha=''">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>
            <section style="width: 100%; display: flex; align-items: center; justify-content: center;"  >
                <button (click)="signin()" mat-flat-button>Enviar</button>
            </section>
            
           <div class="containerTextRegister">
       <a href="/dashboard" >Acessar Dashboard</a>
    
       <p mat-raised-button (click)="openDialog('0ms', '0ms')">Abra sua conta!</p>
    </div>
    </div>
    
    </mat-grid-tile>
    <mat-grid-tile><img ngSrc="medical.png" alt="image" fill> </mat-grid-tile>
</mat-grid-list>