@import url(../../Global//styles.css);

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.backgroundBlue{
    width: 100%;
    height: 20%;
    background-color:#5d9cdb;
    display: flex;
}

mat-tab{
    color: antiquewhite;
    color-scheme: white;
    scrollbar-color: white;
}

table {
    width: 100%;
  }

.containerDivs{
    width: 100vw;
    height: 75vh;
background-color: #e3e3e3;
    display: flex;
}

.containerDivOne{
    width: 70%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDivOneHeader{
    width: 100%;
    height: 15%;
    display: flex;
}


.containerDivTwo{
    width: 30%;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 25px;
}

.containerTable{   
    width: 75%;
    min-height: 300px;
    border:1px solid grey;
    border-radius: 20px;
    background-color: white;
}

.containerTableTransfer{
    width: 50%;
    min-height: 300px;
    border:1px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
}

.inputRegister{
    border: 1px solid gray;
    background-color: white;
    width: 90%;
    height: 30px;
    margin-left: 17px;
    outline: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
}



section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
